
Lesson3_AdvancedAnalysis/bn.human.BNU.1.0025864.txt
.ipynb_checkpoints/README-checkpoint.md
.idea/misc.xml
.idea/misc.xml
datasets/MNE-eegbci-data/files/eegmmidb/1.0.0/S001/S001R03.edf
datasets/MNE-eegbci-data/files/eegmmidb/1.0.0/S002/S002R03.edf
datasets/MNE-eegbci-data/files/eegmmidb/1.0.0/S004/S004R03.edf
datasets/MNE-eegbci-data/files/eegmmidb/1.0.0/S003/S003R03.edf
Lesson1_MEEG/.ipynb_checkpoints/MEEG data visualization-checkpoint.ipynb
.idea/misc.xml
.idea/M2-MVA_MEEG_hands-on_materials.iml
